.pokemon-container {
	position: relative;
	width: 100%;
	height: 318px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.pokemon-container > div:first-child {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	gap: 5px;
}

.pokemon-infos {
	box-sizing: border-box;

	height: 60px;
	display: flex;
	align-items: center;
	padding: 0 25px 0 0;
	background-color: var(--grey);
	border-radius: 50px;
	border: 4px solid var(--white);
	gap: 10px;
}

.pokemon-infos > span {
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--ff-base-bold);
	font-size: var(--fs-lg);
	background-color: var(--white);
	left: -2px;
}

.pokemon-stats {
	box-sizing: border-box;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column nowrap;
	flex-grow: 1;
	gap: 5px;
	padding: 5px 0;
}

.pokemon-stats > div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.pokemon-stats > div:last-child {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-flow: column nowrap;
	width: 100%;
	font-size: var(--fs-xs);
}

.pokemon-sprite.player {
	transform: scaleX(-1);
}

.pokemon-shadow {
	position: absolute;
	width: 200px;
	height: 200px;
	background-size: cover;
	filter: grayscale(1) opacity(0.4) brightness(0) blur(5px);
	z-index: -1;
}

.pokemon-shadow.player {
	transform: scaleX(-1) rotate(168.25deg);
	top: 285px;
	right: 180px;
}

.pokemon-shadow.opponent {
	transform: scaleY(-1) rotate(12deg);
	top: 315px;
	right: 120px;
}

.battle-effects {
	width: 100%;
	height: 63px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
}

.battle-effects-content {
	width: 385px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row wrap;
	gap: 5px;
}

.battle-effects .battle-effects-content > span {
	width: 50px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding: 1px 5px;
	gap: 5px;
	font-size: var(--fs-xs);
}

.burn {
	background-color: var(--fire);
}
.burn > img {
	color: var(--fire);
}

.paralisys {
	background-color: var(--electric);
}

.buff {
	outline: 1px solid var(--success);
	color: var(--success);
	background-color: var(--white);
}

.debuff {
	outline: 1px solid var(--error);
	color: var(--error);
	background-color: var(--white);
}
