.pokemon-pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    color: #9c3541;
    transition: all 0.3s;
}

ul > .pokemon-pokedex.selected {
    transform: scale(1.2);
}

ul > .pokemon-pokedex:not(.selected) {
    opacity: 0.9;
}

.pokemon-pokedex.selected {
    background-color: #9c3541;
    color: white;
}



.pokemon-type {
    width: 100%;
    background-color: var(--grey);
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.pokemon-type.selected {
    background-color: var(--white);

}