.moves-modal-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    overflow: hidden;
}   

.moves-modal-body::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.moves-modal-body::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
}

.moves-table-title {
    width: calc(100% - 20px);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    position: sticky;
}

.moves-table-title-name {
    width: 125px;
    padding: 0 10px;
}

.moves-table-title-type {
    width: 45px;
    display: flex;
    justify-content: center;
}

.moves-table-title-category {
    width: 70px;
    display: flex;
    justify-content: center;
}
.moves-table-title-power {
    width: 45px;
}
.moves-table-title-accuracy {
    width: 65px;
}
.moves-table-title-pp {
    width: 20px;
}
.moves-table-title-description  {
    flex-grow: 1;
}

.moves-list {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    overflow-y: auto;
}

.moves-list-item {
    position: relative;
    width: calc(100% - 40px);
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--grey);
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.moves-list-item.active {
    background-color: var(--red);
    color: white;
}

.move-name, .move-type, .move-category, .move-power, .move-accuracy, .move-pp, .move-description {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.move-name {
    min-width: 125px;
    padding: 0 10px;
}

.move-type {
    min-width: 45px;
    justify-content: center;
}

.move-category {
    min-width: 70px;
    justify-content: center;
}

.move-power {
    min-width: 45px;
    justify-content: center;
}

.move-accuracy {
    min-width: 65px;
    justify-content: center;
}

.move-pp {
    min-width: 20px;
}

.move-description {
    flex-grow: 1;
}

.moves-selected {
    width: 100%;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    border-radius: 5px;
}

.moves-selected.displayed {
    display: flex;
}

.moves-selected-move {
    position: relative;
    width: 125px;
    height: 35px;
    display: flex;
    align-items: center;
    animation: popIn 0.5s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    color: white;
}

.badge-stab {
    position: absolute;
    top: -5px;
    right: -15px;
    width: max-content;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    color: white;
    font-size: var(--fs-xs);
    border-radius: 3px;
    padding: 1px 5px;
}


.moves-list-item.active  .badge-stab.item {
    background-color: var(--white);
    color: var(--red);
}

.badge-stab.item {
    position: absolute;
    top: 0;
    right: 0;
}