@import  url("searchForm.css");

.pokedex {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.pokedex-pokemons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    gap: 20px;
    padding: 50px 125px;
}

.pokedex-pokemon {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(175px - 20px);
    height: calc(125px - 20px);
    padding: 10px;
    background-color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.pokedex-pokemon.active {
    background-color: var(--red);
}

.pokedex-pokemon.active .pokemon-name {
    color: var(--white);
}

.pokedex-pokemon.active .pokemon-id {
    color: var(--red-dark);
    opacity: 1;
}

.pokemon-image-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
}

.bg-pokemon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.pokedex-pokemon .pokemon-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    height: calc(100% - 30px);
    padding: 20px 10px 10px 10px;
    gap: 10px;
    z-index: 2;
}

.pokedex-pokemon .pokemon-infos > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pokemon-id {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    opacity: 0.31;
}

.pokemon-name {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
}

.pokemon-types {
    display: flex;
    flex-direction: row;
    gap: 5px;

}