@import url("pokemonCompetitiveInfos.css");
@import url("pokemonMoves.css");
@import url("pokemonStats.css");

.pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(30% - 80px);
    height: calc(100% - 40px);
    border-radius: 20px;
    padding: 20px 40px;
    gap: 35px;
    background-color: var(--white);
}

.pokemon-details .pokemon-infos {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pokemon-infos .left, .pokemon-infos .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.pokemon-infos button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.pokemon-level {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-xxs);
    font-family: var(--ff-base-bold), sans-serif;
    background-color: var(--normal);
    border: none;
    border-radius: 5px;
    text-align: center;
}

.pokemon-infos .middle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 60px 0 0 0;
}

.middle .pokemon-img {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

.middle .pokedex-id {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    opacity: 0.50;
}

.middle .pokemon-name {
    font-size: var(--fs-xl);
    font-family: var(--ff-base-bold), sans-serif;
}

.middle .pokemon-types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pokemon-female, .pokemon-male {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    border: none;
    transition: all .2s ease-in-out;
}

.pokemon-female {
    border: 1px solid var(--red);
    background:var(--red-light);
    color: var(--red);
}

.pokemon-female.active {
    background: var(--red);
    color: white
}

.pokemon-male {
    border: 1px solid var(--blue);
    background:var(--blue-light);
    color: var(--blue);
}

.pokemon-male.active {
    background: var(--blue);
    color: white
}



