@import url('pokemonDetails.css');
@import url('pokedex.css');
@import url('saveModal.css');

.pokemons-infos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 30px;
}

.pokemons {
	display: flex;
	flex-direction: column;
	width: 1200px;
	gap: 50px;
	height: 85%;
}

.team-pokemons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 0 60px;
	gap: 20px;
}

.list-team-pokemons {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 1;
}

.list-team-pokemons .team-pokemon {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 75px;
	height: 75px;
	transition: all 0.3s ease-in-out;
}

.list-team-pokemons .team-pokemon.active {
	transform: scale(1.1);
}

.team-pokemon-img {
	z-index: 2;
	cursor: pointer;
}

.list-team-pokemons .team-pokemon:hover {
	transform: scale(1.1);
}

.team-pokemons-save {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 35px;
	height: 35px;
	background-color: var(--red);
	border: none;
	border-radius: 5px;
	color: white;
}

.remove-pokemon {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 25px;
	height: 25px;
	background-color: var(--red);
	border: none;
	border-radius: 50%;
	color: white;
	position: absolute;
	top: -10px;
	right: -30px;
	cursor: pointer;
	transform: scale(1.1);
}

@media screen and (max-width: 1920px) {
	.pokemons {
		width: 1250px;
		height: 100%;
	}
}

.modal-delete-pokemon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.modal-delete-pokemon-content {
	min-width: calc(600px - 100px);
	min-height: calc(200px - 100px);
	background-color: var(--white);
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column wrap;
	animation: bounceIn .75s ease-in-out;
	padding: 50px;
	gap: 25px;
	position: relative;
}

.modal-delete-pokemon-content h1 span {
	color: var(--red);
}

.modal-delete-pokemon-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	gap: 10px;
}

.modal-delete-pokemon-btn-container button {
	min-width: 75px;
	min-height: 40px;
	border-radius: 5px;
	cursor: pointer;
}

.modal-delete-pokemon-btn-container button:hover {
	transform:  scale(1.1);
	transition: all .5s ease;
}