.team-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.team-modal-content {
    position: relative;
    width: calc(500px - 100px);
    min-height: calc(150px - 50px);
    max-height: calc(150px - 50px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 25px 50px;
    z-index: 2;
    animation: bounceIn .75s ease-in-out;
}

.team-modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

.team-modal-button {
    width: calc(80px - 30px);
    height: calc(50px - 20px);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-save-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}

.modal-save-team-content {
    min-width: calc(600px - 100px);
    min-height: calc(200px - 100px);
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    animation: bounceIn .75s ease-in-out;
    padding: 50px;
    gap: 25px;
    position: relative;
}

.modal-save-team-content h1 span {
    color: var(--red);
}

.modal-save-team-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 10px;
}

.modal-save-team-btn-container button {
    min-width: 75px;
    min-height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-save-team-btn-container button:hover {
    transform:  scale(1.1);
    transition: all .5s ease;
}
