@import url('profileModal.css');
@import url('profileAvatar.css');
@import url('profileUsername.css');
@import url('profileEmail.css');
@import url('profileTeam.css');

.profile-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	position: relative;
	background-color: rgba(0, 0, 0, 0.75);
}

.user-infos-container > h1 {
	margin-bottom: 30px;
}

.form-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.profil-infos {
	background-color: #ffffff;
	border-radius: 8px;
	padding: 50px;
	width: 120%;
	max-width: 1500px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	text-align: left;
	animation: bounceIn 0.75s ease-in-out;
	margin-top: 150px;
}

.bg-form-profile {
	position: absolute;
	top: 50px;
	right: 250px;
	z-index: 1;
	animation: bounceIn 0.75s ease-in-out;
}

.user-infos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 20px;
}

.user-details {
	display: flex;
	flex-direction: column;
	width: 650px;
}

.password-and-delete {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	width: 350px;
}

.password-and-delete button {
	width: 200px;
	height: 40px;
	cursor: pointer;
	background-color: transparent;
	transition: transform 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.password-and-delete button:hover {
	transform: scale(1.1);
}

.user-password button {
	width: 200px;
	height: 40px;

	font-weight: bold;
	cursor: pointer;
	background-color: var(--white);
	color: var(--red);
	border: 1px solid var(--red);
	border-radius: 10px;
}

.user-delete button {
	width: 200px;
	height: 40px;

	font-weight: bold;
	cursor: pointer;
	background-color: var(--red);
	color: var(--white);
	border: 1px solid var(--red);
	border-radius: 5px;
}

.password-and-delete button:disabled,
.user-password button:disabled,
.username-edit-container > button:disabled,
.email-edit-container > button:disabled {
	background-color: #cccccc;
	color: #666666;
	cursor: not-allowed;
	opacity: 0.6;
	box-shadow: none;
	transform: none;
}

.user-delete span {
	margin-right: 8px;
}

.user-password span {
	margin-right: 8px;
}

.separator-line {
	width: 50%;
	height: 2px;
	background-color: var(--red);
	margin: 20px auto;
	margin-bottom: 5%;
	margin-top: 5%;
}

.edit-account {
	display: flex;
	background-color: red;
}

@media screen and (max-width: 1920px) {
	.bg-form-profile {
		right: 25px;
	}
}
