.profile-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.profile-modal-content {
	min-width: calc(600px - 100px);
	min-height: calc(200px - 100px);
	background-color: var(--white);
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column wrap;
	animation: bounceIn 0.75s ease-in-out;
	padding: 50px;
	gap: 25px;
	position: relative;
}
/* Titre de la modale */
.profile-modal-content h1 {
	font-size: 40px;
	font-weight: bold;

	text-align: center;
}

.profile-modal-content h1 span {
	color: var(--red);
}

.profile-modal-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	gap: 10px;
	margin-right: 3%;
}

.profile-modal-buttons button {
	min-width: 75px;
	min-height: 40px;
	border-radius: 5px;
	cursor: pointer;
}

.profile-modal-buttons button:hover {
	transform: scale(1.1);
	transition: transform 0.5s ease;
}

.input-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.input-field {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
	box-sizing: border-box;
}

.input-field:focus {
	outline: none;
	border-color: #007bff;
}

.input-group span {
	color: red;
	font-size: 14px;
	margin-top: 5px;
}
