.battle-actions .battle-actions-btn {
    width: 400px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 15px;
    row-gap: 0;
}

.battle-actions .battle-actions-btn .btn-action {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 175px;
    padding: 15px 20px;
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: var(--fs-xl);
    font-family: var(--ff-base-bold), sans-serif;
    color: var(--red);
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.battle-actions .battle-actions-btn .btn-action.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.battle-actions .battle-actions-btn .btn-action img {
    position: absolute;
    top: -5px;
    right: 5px;
    z-index: -1;
}

.pokemon-moves-modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -35px;
    left: 25%;
    width: max-content;
    height: 100px;
    z-index: 100;
    transform: translate(-25%, 0);
}


.pokemon-moves-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;
    transition: all 5s ease-in-out;
}


.pokemon-moves-modal-content .pokemon-move-fullfilled{
    height: 40px;
    width: 40%;
    font-size: var(--fs-md);
}




.pokemon-move-fullfilled-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.modal-running-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal-running-content {
    position: relative;
    min-width: calc(550px - 50px);
    min-height: calc(200px - 50px);
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    animation: bounceIn .75s ease-in-out;
    padding: 25px;
    gap: 25px;
}

.modal-running-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 10px;
}

.modal-running-btn-container button {
    min-width: 75px;
    min-height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-running-btn-container button:hover {
    transform:  scale(1.1);
    transition: transform .5s ease;
}

@media screen and (max-width: 1920px) {
    .pokemon-moves-modal-container{
        left: 16.5%;
    }
}