@import url('normalize.css');
@import url('font.css');
@import url('variables.css');

/* Global components styles */
@import url('navbar.css');
@import url('pokemonType.css');
@import url('pagination.css');

/* Page styles */
@import url('battle/battle.css');
@import url('teambuilder/teambuilder.css');
@import url('pokemonbuilder/pokemonbuilder.css');
@import url('login/login.css');
@import url('signin/signin.css');
/* Animations */
@import url('animations.css');

/* Global styles */
body {
	font-family: var(--ff-base), sans-serif;
	font-size: var(--fs-base);
	font-weight: var(--fw-normal);
	background-color: var(--grey);
	width: 100%;
	height: calc(100vh - 75px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button {
	cursor: pointer;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--black);
}

.toast {
	font-family: var(--ff-base), sans-serif;
	font-size: var(--fs-base);
	font-weight: var(--fw-normal);
}

.btn-primary {
	background-color: var(--red);
	color: var(--white);
	border: none;
}
.btn-secondary {
	background-color: var(--white);
	color: var(--red);
	border: 1px solid var(--red);
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	color: var(--red);
	width: max-content;
	height: 30px;
	padding: 0;
}

.error {
	color: var(--red);
	font-size: var(--fs-sm);
}

.fadeInToBottom {
	animation: fadeInToBottom 1s ease-in-out;
}

.fadeInToTop {
	animation: fadeInToTop 1s ease-in-out;
}

.fadeInToLeft {
	animation: fadeInToLeft 1s ease-in-out;
}

.fadeInToRight {
	animation: fadeInToRight 1s ease-in-out;
}
