/* theme dark */
[data-theme='dark'] {
}

/* theme light */
[data-theme='light'] {
}

:root {
	/* default value theme light : A bouger plus tard quand le theme sera mis en place */
	--red: #9c3541;
	--red-dark: #451D20;
	--red-light: rgba(156, 53, 65, 0.2);
	--blue: #1967b2;
	--blue-light: rgba(25, 103, 178, 0.15);
	--grey: #f1f1f1;
	--grey-dark: #B7B9D0;
	--white: #ffffff;
	--white-light: rgba(255, 255, 255, 0.005);
	--black: #000000;

	/* type pokemon colors */
	--bug: #a7b723;
	--dark: #75574c;
	--dragon: #7037ff;
	--electric: #f9cf30;
	--fairy: #e69eac;
	--fighting: #c12239;
	--fire: #f57d31;
	--flying: #a891ec;
	--ghost: #70559b;
	--normal: #aaa67f;
	--grass: #74cb48;
	--ground: #dec16b;
	--ice: #9ad6df;
	--poison: #a43e9e;
	--psychic: #fb5584;
	--rock: #b69e31;
	--steel: #b7b9d0;
	--water: #6493eb;

	/* type pokemon colors lighter */
	--bug-light: rgba(167, 183, 35, 0.8);
	--dark-light: rgba(117, 87, 76, 0.8);
	--dragon-light: rgba(112, 55, 255, 0.8);
	--electric-light: rgba(249, 207, 48, 0.8);
	--fairy-light: rgba(230, 158, 172, 0.8);
	--fighting-light: rgba(193, 34, 57, 0.8);
	--fire-light: rgba(245, 125, 49, 0.8);
	--flying-light: rgba(168, 145, 236, 0.8);
	--ghost-light: rgba(112, 85, 155, 0.8);
	--normal-light: rgba(170, 166, 127, 0.8);
	--grass-light: rgba(116, 203, 72, 0.8);
	--ground-light: rgba(222, 193, 107, 0.8);
	--ice-light: rgba(154, 214, 223, 0.8);
	--poison-light: rgba(164, 62, 158, 0.8);
	--psychic-light: rgba(251, 85, 132, 0.8);
	--rock-light: rgba(182, 158, 49, 0.8);
	--steel-light: rgba(183, 185, 208, 0.8);
	--water-light: rgba(100, 147, 235, 0.8);

	/* font-family */
	--ff-base: 'Spiegel Regular';
	--ff-base-italic: 'Spiegel Regular Italic';
	--ff-base-bold: 'Spiegel Bold';
	--ff-base-bold-italic: 'Spiegel Bold Italic';
	--ff-base-semibold: 'Spiegel Semibold';
	--ff-base-semibold-italic: 'Spiegel Semibold Italic';

	--ff-title: 'Beaufort for LOL Regular', sans-serif;
	--ff-title-bold: 'Beaufort for LOL Bold', sans-serif;
	--ff-title-bold-italic: 'Beaufort for LOL Bold Italic';
	--ff-title-light: 'Beaufort for LOL Light', sans-serif;
	--ff-title-light-italic: 'Beaufort for LOL Light Italic';
	--ff-title-heavy: 'Beaufort for LOL Heavy', sans-serif;
	--ff-title-heavy-italic: 'Beaufort for LOL Heavy Italic';
	--ff-title-medium: 'Beaufort for LOL Medium', sans-serif;
	--ff-title-medium-italic: 'Beaufort for LOL Medium Italic';
	--ff-title-italic: 'Beaufort for LOL Italic';

	/* font-size */
	--fs-xxs: 0.625rem;
	--fs-xs: 0.75rem;
	--fs-sm: 0.875rem;
	--fs-base: 1rem;
	--fs-md: 1.125rem;
	--fs-lg: 1.25rem;
	--fs-xl: 1.5rem;
	--fs-xxl: 1.75rem;

	/* font-weight */
	--fw-light: 300;
	--fw-normal: 400;
	--fw-semibold: 600;
	--fw-bold: 700;

	/* colors */
	--success: #468129;
	--warning: #ffc107;
	--error: #9c3541;
}
