.form-create-team {
    position: relative;
    width: calc(50% - 50px);
    min-height: calc(65% - 50px);
    height: max-content;
    max-height: calc(65% - 50px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--white);
    border-radius: 5px;
    padding: 25px;
    z-index: 2;
    overflow-y: auto;
}

.bg-form {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 344px;
    height: 250px;
    z-index: -1;
}

.form-create-team > h2 {
    font-family: var(--ff-base-bold), sans-serif;
}

.create-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 15px;
    padding-top: 21px;
}

.create-team > input[type="text"] {
    width: 350px;
    min-height: 40px;
    background-color: var(--grey);
    border: none;
    border-radius: 5px;
    padding: 0 20px;
}

.avatars-container {
    width: calc(100% - 20px);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.avatars-container > h3 {
    font-family: var(--ff-base-bold), sans-serif;
}

.avatars-list {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    padding: 10px 75px;
    gap: 20px;
}

.btn-create-team {
    font-family: var(--ff-base-bold), sans-serif;
    width: 100px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: var(--fs-lg);
}

.btn-create-team-container-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


@media screen and (max-width: 1920px) {
    .btn-create-team {
        min-height: 35px;
        font-size: var(--fs-md);
    }
}


