.team-details-container {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 25px;
    gap: 25px;
    overflow: hidden;
}

.team-details-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;

}

.team-details-pokemons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.team-details-pokemon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    width: 100px;
    height: 550px;
    overflow: hidden;
    transition: all 0.75s ease-in-out;
}

.team-details-pokemon:nth-child(odd) {
    transform: translateY(16px);
}

.team-details-pokemon:nth-child(even) {
    transform: translateY(-16px);
}

.team-details-pokemon-bg {
    position: absolute;
}

.team-details-pokemon-bg img {
    transition: all 1s ease-in-out;
}

.team-details-pokemon:hover {
    width: 500px;
    overflow: visible;
}

.team-details-pokemon:hover .team-details-pokemon-bg {
    top: -50px;
    left: -50px;

}

.team-details-pokemon:hover .team-details-pokemon-bg img {
    width: 300px;
    height: 300px;
}


.team-details-pokemon .team-details-pokemon-info {
    display: none;
    opacity: 0;
    animation: opacity .75s ease-in-out;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    height: 100%;
}

.team-details-pokemon:hover .team-details-pokemon-info {
    display: flex;
    opacity: 1;
}

.team-details-pokemon-info .top-details {
    display: flex;
    flex-direction: row;
    height: 225px;
}

.top-details .bg-pokemon-details {
    display: flex;
    width: 225px;
}

.team-details-pokemon-info .pokemon-infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-grow: 1;
    padding: 10px 10px 10px 0;
}

.pokemon-infos-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 25px;
    flex-grow: 1;
}

.pokemon-infos .pokemon-infos-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.pokemon-infos .pokemon-infos-left h3 {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    opacity: 0.31;
}

.pokemon-infos-left .pokemon-infos-types {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pokemon-infos-types .pokemon-infos-type {
    display: flex;
    padding: 5px 7px;
    border-radius: 5px;
    font-family: var(--ff-base-bold), sans-serif;
    font-size: var(--fs-sm);
    color: var(--white);
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.pokemon-infos .pokemon-infos-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.pokemon-infos-right-level {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-xxs);
    font-family: var(--ff-base-bold), sans-serif;
    background-color: var(--normal);
    border: none;
    border-radius: 5px;
    text-align: center;
}

.pokemon-infos-right-shiny {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-xxs);
    font-family: var(--ff-base-bold), sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color: var(--electric);
    color: white;
}

.pokemon-infos-right-gender {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-xxs);
    font-family: var(--ff-base-bold), sans-serif;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.pokemon-infos-right-gender svg {
    width: 15px;
    height: 15px;
}

.pokemon-infos-right-gender.male {
    background-color: var(--blue);
}

.pokemon-infos-right-gender.female{
    background: var(--red);
}

.pokemon-ability-nature {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.pokemon-ability-nature div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.pokemon-ability-nature div div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 10px;
    background-color: var(--grey);
    border-radius: 5px;
    min-width: max-content;
}

.team-details-pokemon-info .pokemon-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 225px;
}

.team-details-pokemon-info .pokemon-item div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    height: 30px;
    padding: 0 10px;
    background-color: var(--grey);
    border-radius: 5px;
}

.team-details-pokemon-info .pokemon-moves {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.team-details-pokemon-info .pokemon-moves h3 {
    align-self: flex-start;
}

.team-details-pokemon-info .pokemon-moves .pokemon-moves-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.pokemon-moves-container .pokemon-move-fullfilled {
    cursor: default;
}

.team-details-pokemon-info .pokemon-stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.team-details-pokemon-info .pokemon-stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.team-details-pokemon-info .pokemon-stats .pokemon-stat {
    width: calc(35px - 4px);
    height: calc(65px - 8px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--fs-sm);
    color: white;
    padding: 4px 2px;
    gap: 5px;
}

.team-details-pokemon-info .pokemon-stats .pokemon-stat .pokemon-stat-name {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-xs);
}

.team-details-pokemon-info .pokemon-stats .pokemon-stat .pokemon-stat-total {

}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
         opacity: 1;
    }
}
.pokemon-stat.hp {
    background-color: rgba(220, 39, 39, 0.67);
}
.pokemon-stat.hp .pokemon-stat-name {
    background-color: #DC2727;
}

.pokemon-stat.attack {
    background-color: rgba(245, 125, 49, 0.67);
}
.pokemon-stat.attack .pokemon-stat-name {
    background-color: #F57D31;
}

.pokemon-stat.defense {
    background-color: rgba(100, 147, 235, 0.67)
}
.pokemon-stat.defense .pokemon-stat-name {
    background-color: #6493EB;
}

.pokemon-stat.special-attack {
    background-color: rgba(249, 207, 48, 0.67)
}
.pokemon-stat.special-attack .pokemon-stat-name {
    background-color: #F9CF30;
}

.pokemon-stat.special-defense {
    background-color: rgba(167, 183, 35, 0.67)
}
.pokemon-stat.special-defense .pokemon-stat-name {
    background-color: #A7B723;
}

.pokemon-stat.speed {
    background-color: rgba(112, 55, 255, 0.67)
}
.pokemon-stat.speed .pokemon-stat-name {
    background-color: #7037FF;
}

@media screen and (min-width: 1920px) {
    .team-details-pokemon {
        height: 600px;
    }
    .team-details-pokemon .team-details-pokemon-bg img {
        height: 600px;
    }

    .team-details-avatar img {
        height: 1000px;
    }

}