.teams-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(100% - 50px);
    height: calc(100% - 25px);
    gap: 10px;
    padding: 25px 25px 0 25px;
    flex-grow: 1;
    overflow-y: auto;
}

.teams-container > h3 {
    font-family: var(--ff-base-bold), sans-serif;
}

.teams-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    padding-bottom: 10px;
}