.team-details-container {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 25px;
    gap: 25px;
    z-index: 1;
    overflow: hidden;
}

.team-details-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: -1;
}

.team-details-pokemons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.team-details-pokemon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    background-color: var(--white);
    border-radius: 20px;
    width: 100px;
    height: 500px;
    z-index: 1;
    overflow: hidden;
    transition: all 0.75s ease-in-out;
}

.team-details-pokemon:nth-child(odd) {
    transform: translateY(16px);
}

.team-details-pokemon:nth-child(even) {
    transform: translateY(-16px);
}

.team-details-pokemon-bg {
    position: absolute;
    z-index: -1;
}

.team-details-pokemon-bg img {
    transition: all 1s ease-in-out;
}

.team-details-pokemon:hover {
    width: 500px;
    overflow: visible;
}

.team-details-pokemon:hover .team-details-pokemon-bg {
    top: -50px;
    left: -50px;
    z-index: 2;
}

.team-details-pokemon:hover .team-details-pokemon-bg img {
    width: 300px;
    height: 300px;
}


.team-details-pokemon .team-details-pokemon-info {
    width: calc(100% - 30px);
    height: calc(50 - 30px);
    display: none;
    flex-direction: column;
    padding: 15px;
}

.team-details-pokemon:hover .team-details-pokemon-info {
    display: flex;
    opacity: 1;
}

.team-details-pokemon-info .top-details {
    display: flex;
    flex-direction: row;
    height: 225px;
}

.top-details .bg-pokemon-details {
    display: flex;
    width: 225px;
}

.team-details-pokemon-info .pokemon-infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-grow: 1;
    padding: 10px 10px 10px 0;
}

.pokemon-infos-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 25px;
    flex-grow: 1;
}

.pokemon-infos .pokemon-infos-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.pokemon-infos .pokemon-infos-left h3 {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    opacity: 0.31;
}

.pokemon-infos-left .pokemon-infos-types {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pokemon-infos-types .pokemon-infos-type {
    display: flex;
    padding: 5px 7px;
    border-radius: 5px;
    font-family: var(--ff-base-bold), sans-serif;
    font-size: var(--fs-sm);
    color: var(--white);
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.pokemon-infos .pokemon-infos-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.pokemon-infos-right-level {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-xxs);
    font-family: var(--ff-base-bold), sans-serif;
    background-color: var(--normal);
    border: none;
    border-radius: 5px;
    text-align: center;
}

.pokemon-infos-right-shiny {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-xxs);
    font-family: var(--ff-base-bold), sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color: var(--electric);
    color: white;
}

.pokemon-infos-right-gender {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-xxs);
    font-family: var(--ff-base-bold), sans-serif;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.pokemon-infos-right-gender svg {
    width: 15px;
    height: 15px;
}

.pokemon-infos-right-gender.male {
    background-color: var(--blue);
}

.pokemon-infos-right-gender.female{
    background: var(--red);
}

.pokemon-ability-nature {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.pokemon-ability-nature div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.pokemon-ability-nature div div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 10px;
    background-color: var(--grey);
    border-radius: 5px;
}

.team-details-pokemon-info .pokemon-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 225px;
}

.team-details-pokemon-info .pokemon-item div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    height: 30px;
    padding: 0 10px;
    background-color: var(--grey);
    border-radius: 5px;
}